.git
.gitignore
README.md
.dockerignore
*.md
node_modules
npm-debug.log
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
!.gitignore
!.dockerignore
!README.md
