/* 虚拟环境配置栏 */
.app-configuration{
    height: 100%;
    width: 250px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.app-configuration b{
    margin-top: 10px;
}

.app-configuration > b{
    font-size: 17px;
    padding-bottom: 15px;
    align-self: flex-start;
}

.app-env{
    height: 170px;
    width: 100%;
    padding-right: 10px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: flex-start;
}

.env-section{
    flex: 1;
    display: flex;
    gap: 7px;
    align-items: center;
    width: 100%;
}

.env-display-button{
    flex: 3;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background: #fff;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }

 .env-display-button b{
    font-size: 15px;
 }

 .env-add-button{
    flex: 1;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background: #50f9ffff;
 }

/* 项目目标配置栏 */
.app-target{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e0e0e0;
    gap: 10px;
    align-items: flex-start;
    text-align: left;
}

.target-select{
    padding: 8px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

 /* 运行命令栏 */
 .app-command{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    text-align: left;
 }

 .command-container{
    width: 100%;
 }

 .command-input{ 
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
 }

 .command-input:focus{
    border-color: #50f9ffff;
    box-shadow: 0 0 2px rgba(80, 249, 255, 0.2);
 }

 .command-input::placeholder{
    color: #999;
 }

.run-button{ 
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background: #22fc00ff;
    color: white;
    width: 80%;
    margin-top: 20px;
    align-self: center;
}