/* 代码编辑栏 */
.editor-container{
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
}

.editor-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #666;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.editor-container.disabled{
    opacity: 0.5;
    pointer-events: none;
}